fastapi>=0.68.0
uvicorn>=0.15.0
botbuilder-core>=4.14.0
botbuilder-schema>=4.14.0
botframework-connector>=4.14.0
requests>=2.25.1
python-multipart>=0.0.5
pydantic>=1.8.2
aiohttp>=3.7.4
msrest>=0.6.21
typing-extensions>=4.1.0
openai==1.60.0
azure-identity
azure-ai-ml
azureml-inference-server-http
pandas
tabulate
tables
openpyxl
teams-ai
